<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>Nome da eleição</th>
            <th>Data de Inicio</th>
            <th>Data do fim</th>
            <th>Número de candidatos</th>
            <th>Ganhador</th>
        </tr>
    {% for election in election %}   
        <tr>
            <td>{{election.lawsuit}}</td>
            <td>{{election.initDate}}</td>
            <td>{{election.finalDate}}</td>
            <td>{{election.nCandidates}}</td>
            {% for candidate in candidate %}
            {% if election.Winner == candidate.cpf %}
            <td>{{candidate.name}}</td>
            {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
    </table>
</body>
</html>